.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.image {
  
}

.title {
  color: white;
  font-size: 2.5rem;
  
}

.wrapper {
  display: grid;
  gap: 4rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
  place-items: center;
  padding: 2rem;
}