.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: 5rem */

  display: flex;
  background-color: rgba(18, 103, 130, 1);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.brandLogo {
  height: 4rem;
}

.title {
  color: white;
  font-weight: 900;
}

.icon {
  color: white;
  font-size: 2rem;
}

@media screen and (min-width: 960px) {
  
  .container {
    flex-direction: row;
    align-items: center;
    height: 3.5rem;
  }

  .icon {
    display: none;
  }
}